 *{
    margin: 0px;
    padding: 0px;
    
}
.parallaxone{
    width: 100%;
    height: 600px;
    background-image: url('./images/img5.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.parallaxone h2{
    position: relative;
    left: 500px;
    top: 300px;
    width: 250px;
    height:31px;
    padding: 5px;
    background-color: chocolate;
    color: yellow;
    text-align: center;
}

.parallaxtwo{
    width: 100%;
    height: 600px;
    background-image: url('./images/img2.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}

.parallaxtwo h2{
    position: relative;
    left: 500px;
    top: 300px;
    width: 250px;
    height:31px;
    padding: 5px;
    background-color: grey;
    color: yellowgreen;
    text-align: center;
}

.para{
   
    padding: 50px;
    text-align: center;
    height: 100px;
    background-color:rgb(92, 36, 36) ;
    color:rgb(255, 132, 0) ;
    font-size: 20px;

} 